<!DOCTYPE html>
<html>
<head>
<title>OnTrans</title>	
<meta charset="utf-8" /> 
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>	
</head>

<body>

<header>
  <div class="container">
	  <a href="index.html" class="logo">ЛОГО</a> 
 <nav>
<ul class="menu">
     <li><a href="/about"><span class="link">О нас</span></a></li>
     <li><a href="/"><span class="link">Переводчик</span></a></li>
     <li><a href="/twork"><span class="link">Работа с текстом</span></a></li>
     <li><a href="/contacts"><span class="link">Контакты</span></a></li>
     <li><a href="/reglog"><span class="link">Вход/Регистрация</span></a></li>  
</ul>
</nav> 
</div>  
</header>

<div class="main">
	<div class="container">
		<p>Вот тут надо что-то написать. Возможно о нашей программе коротко</p>
	</div>
</div>


<footer>
	<small>   Copyright Irina Pronina & Novikov Arman @2017</small>	
</footer>

</body>
</html>

